<!DOCTYPE html>
<html>

<head>  
    <title>Home</title> <!-- website title-->
    <meta charset="UTF-8"> <!--use utf-8 character encoding-->
</head>

<body>

    <header>
        <div class="header">
            <h1>Do not look here</h1> <!--header text-->

        </div>

        <div class="bar"> <!--create list with links to pages: Home, about, privacy policy and Github-->
            <a href="home" class="active">Home</a>
            <a href="about">About</a>
            <a href="privacy-policy">Privacy policy</a>
            <a href="github" class="right">Github</a>
        </div>
    </header>
    <main>

        <div class="main">
            <h2>Links:</h2> <!--header text-->

            <ul> <!--create list with links to pages: index, table and chart-->
                <li><a href="https://emppu.tech/"> This is a prank</a></li> 
            </ul>
            
        </div>

    </main>

    <footer>
        <!--footer not yet implemented-->
    </footer>

</body>

</html>